.form {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    padding: 2rem;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form > *:not(:first-child) {
    margin-top: 1rem;
}

.row > *:not(:first-child) {
    margin-left: 0.5rem;
}

.form :global(label) {
    display: flex;
    flex-direction: column;

    color: var(--text-black-medium, #4E5D78);

    /* H300 - Caption / Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
}

.form :global(label > span) {
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

.form :global(input), .form :global(select) {
    border-radius: 6px;
    border: 1px solid var(--outline-grey-light, #F1F2F4);
    background: var(--solid-grey-grey-200, #F7F8F9);
    box-shadow: 0px 2px 2px 0px rgba(10, 31, 68, 0.12) inset;

    display: flex;
    height: 48px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
}